<div class="col-md-12">
    <h3 class="mb-5">Cadastro de Usuario</h3>
    <form id="formNewUser">
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" name="nome" placeholder="Nome" id="" class="form-control">
            </div>
            <div class="col-md-12 form-group">
                <input type="email" name="email" placeholder="E-mail" class="form-control" id="">
            </div>
            <div class="col-md-12 form-group">
                <input type="password" name="senha" placeholder="Senha" class="form-control" id="">
            </div>
        </div>
            
        <div class="row mb-5">
            <div class="offset-md-9 col-md-3">

                <button class="btn btn-success btn-block btn-lg" [disabled]="!formNewUser.valid">Add</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <app-user-list></app-user-list>
        </div>
    </div>
</div>