<div class="container">
<h5 class="text-center mb-5">Faça Login</h5>
<form id="formLogin">
    <div class="row">
        <div class="offset-md-3 col-md-6 form-group">
            <input type="email" name="email" placeholder="E-mail" class="form-control" id="">
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-6 form-group">
            <input type="password" name="senha" placeholder="Senha" class="form-control" id="">
        </div>
    </div>
        
    <div class="row mb-5">
        <div class="offset-md-3 col-md-6">
            <button class="btn btn-success btn-block btn-lg">entrar</button>
        </div>
    </div>
</form>
</div>